
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc; /* Lighter text on a dark background */
    background-color: #2c3e50; /* Dark, muted blue */
    line-height: 1.6;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #34495e; /* Darker shade for header */
    color: #ffffff;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #7f8c8d; /* Subdued hover effect */
  }
  
  .search-bar {
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #34495e; /* Match the header */
    color: #ffffff;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .book {
    width: 30%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Deeper shadows for mystery */
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #34495e; /* Dark background for each book */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .book:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.7); /* Even deeper shadow on hover */
  }
  
  .book img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #34495e; /* Matching the header and book backgrounds */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    margin: auto;
    width: 80%;
  }
  
  .tags span {
    background-color: #7f8c8d; /* Muted color for tags */
    color: #ffffff;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease-in-out;
  }
  
  .tags span:hover {
    background-color: #95a5a6; /* Lighter grey for hover */
  }

  #theme-switcher {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  #theme-switcher {
    background-color: #34495e; /* Darker shade for header */
    color: #ffffff;
  }
  
  #theme-switcher:hover {
    background-color: #2c3e50; /* Even darker shade for hover */
  }