body { font-family: Arial, sans-serif; }
header { display: flex; justify-content: space-between; align-items: center; padding: 20px; background-color: #f0f0f0; }
nav a { margin: 0 10px; text-decoration: none; color: #333; }
.search-bar { padding: 5px; }
.gallery { display: flex; flex-wrap: wrap; justify-content: space-around; padding: 20px; }
.book { width: 30%; box-shadow: 0 0 10px #ccc; margin-bottom: 20px; padding: 10px; cursor: pointer; }
.book img { width: 100%; }


footer {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.footer-conten{
    margin: auto;
    width: 80%;
}

.tags span { /* Style for the tags */
	background-color: #e0e0e0; /* Light grey background */
	color: #333; /* Dark text color */
	padding: 5px 10px; /* Top and bottom padding, left and right padding */
	margin: 0 5px 5px 0; /* Space between tags */
	display: inline-block; /* Allows for padding and margin */
	border-radius: 15px; /* Rounded corners */
	cursor: pointer; /* Changes cursor to indicate it's clickable */
	font-size: 0.8em; /* Smaller font size */
  }
  
  .tags span:hover {
	background-color: #d0d0d0; /* Slightly darker on hover */
  }