body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff; /* Vibrant blue */
    color: #ffffff;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #dfe6e9;
  }
  
  .author-container {
    margin: 20px;
    padding: 15px;
    background-color: #ffffff; /* Light background */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Soft shadow */
  }
  
  .profile-pic {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
  }
  
  h1, h2, h3 {
    color: #333;
    text-align: center;
  }
  
  .short-description, .interesting-fact, .about-author p, blockquote, .gallery img, iframe, .contact-link {
    margin: 15px auto;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .gallery img {
    margin: 10px;
    max-width: 100px;
    border-radius: 5px;
  }
  
  .contact-link {
    display: inline-block;
    background-color: #007bff; /* Vibrant blue */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  #theme-switcher {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #007bff; /* Vibrant blue */
    color: #ffffff;
  }
  #theme-switcher:hover {
    background-color: #0056b3; /* A darker shade of blue for hover */
  }